<div style="position:relative; float:left; padding:20px; background-color:rgba(0,0,0,.5);clear:both;color:lightblue">
Example:
<p>
    <h1 style="color:red">URL:</h1>
    http://crowdshiba.com/how_majestics.json
</p>
    
<p>
<h1 style="color:red">Headers:</h1>
Accept: application/json<br/>
Content-type: application/json<br/>
<br/>
</p>

<p>
<h1 style="color:red">Body:</h1>
{
 "how_majestic":
  {
   "message": "so tech",
   "posx": "10",
   "posy": "10",
   "size" : "10"
  }
}
</p><br/>
<div style="float:left;">
    <%= link_to 'Back', "/" %>
</div>
</div>