<div style="position:relative; float:left; padding:20px; background-color:rgba(0,0,0,.5);clear:both;">
<h1>New How Majestic</h1>

<%= render 'form' %>

<div style="float:left;">
    <%= link_to 'Back', "/" %>
</div>

</div>